@{
    ViewBag.Title = "典型事故";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="title">全路典型事故查询</h5>

<table class="bordered accident-table">
    <thead>
        <tr>
            <th>时间</th>
            <th>地点</th>
            <th>责任单位</th>
            <th>类别</th>
            <th>事故概况</th>
            <th>详情</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>