<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="hide-on-med-and-down">
                <li>
                    <a class="dropdown-button waves-effect waves-block waves-light" href="javascript:void(0);" data-activates="dropdown1">基础管理</a>
                    <ul id="dropdown1" class="dropdown-content">
                        <li class="second-menu" data-target="#target1"><a href="#!">技术规章<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                        <li><a href="#!">制度措施</a></li>
                        <li><a href="#!">企业标准</a></li>
                        <li class="divider"></li>
                        <li><a href="#!">典型事故</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-button waves-effect waves-block waves-light" href="javascript:void(0);" data-activates="dropdown2">风险信息</a>
                    <ul id="dropdown2" class="dropdown-content">
                        <li>
                            <a href="#!">安全管理信息中心</a>
                        </li>
                        <li><a href="#!">安全信息分析中心</a></li>
                        <li><a href="#!">机车质量跟踪系统填报</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul id="target1" class="dropdown-content third-menu">
            <li><a href="#!">总公司</a></li>
            <li><a href="#!">铁路局</a></li>
            <li><a href="#!">机务段</a></li>
        </ul>
    </nav>
</div>