@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>403</title>
    <link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.min.css" />
    <link href="/Content/404.css" rel="stylesheet" />
</head>
<body class="cyan">
    <div id="error-page">

        <div class="row">
            <div class="col s12">
                <div class="browser-window">
                    <div class="top-bar">
                        <div class="circles">
                            <div id="close-circle" class="circle"></div>
                            <div id="minimize-circle" class="circle"></div>
                            <div id="maximize-circle" class="circle"></div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div id="site-layout-example-top" class="col s12">
                                <p class="flat-text-logo center white-text caption-uppercase">您没有访问此页面的权限 :(</p>
                            </div>
                            <div id="site-layout-example-right" class="col s12 m12 l12">
                                <div class="row center">
                                    <h1 class="text-long-shadow col s12">403</h1>
                                </div>
                                <div class="row center">
                                    <!--<p class="center white-text col s12">It seems that this page doesn’t exist.</p>-->
                                    <p class="center s12">
                                        <a href="javascript:history.back();" class="btn waves-effect waves-light">返回上一页</a> <a href="/Home/Index" class="btn waves-effect waves-light">首页</a>
                                    </p><p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>