<?xml version="1.0" encoding="utf-8"?>
<!-- 
  配置需要访问的权限的控制器及方法
  没有出现在配置文件中的控制器方法默认都可以访问
-->
<filter>
  <controller name="Basic">
    <!-- 
    authtype为1 表示需要验证登录人的部门Id
    authtype为2 表示需要验证登录人的UserId
    -->
    <!-- 配置允许添加基础文件的部门 -->
    <action name="AddFile" authtype="1">11,12,13,21</action>

    <!-- 配置允许添加典型事故的部门 -->
    <action name="AddAccident" authtype="1">11</action>
  </controller>

  <controller name="Risk">
    <!-- 风险办信息审核部门权限-->
    <action name="FinalVerify" authtype="1">11</action>
  </controller>

  <controller name="Warn">
    <!-- 添加预警信息部门权限（安全、运用、技术、办公室） -->
    <action name="AddWarn" authtype="1">11,12,13,21,22</action>
    <!-- 审核预警响应部门权限（安全、运用、技术、办公室） -->
    <action name="DoVerify" authtype="1">11,12,13,21,22</action>
    <!-- 审核预警响应部门权限（安全、运用、技术、办公室） -->
    <action name="VerifyImplement" authtype="1">11,12,13,21,22</action>
  </controller>

  <!-- 后台管理权限配置 -->
  <controller name="Admin">
    <!-- 后台字典维护功能部门权限 -->
    <!--<action name="Dictionaries" authtype="1"></action>-->

    <!-- 后台指标管理功能人员权限 -->
    <!--<action name="Quota" authtype="2"></action>-->

    <!-- 车站管理功能人员权限 -->
    <!--<action name="Stations" authtype="2"></action>-->

    <!-- 线路管理功能人员权限 -->
    <!--<action name="Lines" authtype="2"></action>-->
  </controller>
</filter>
