<?xml version="1.0" encoding="utf-8"?>
<!-- 
  配置需要访问的权限的控制器及方法
  没有出现在配置文件中的控制器方法默认都可以访问
-->
<filter>
  <controller name="Basic">
    <!-- 
    authtype为1 表示需要验证登录人的部门Id
    authtype为2 表示需要验证登录人的UserId
    -->
    <!-- 配置允许添加基础文件的部门 -->
    <action name="AddFile" authtype="1">11,12,13,21</action>

    <!-- 配置允许添加典型事故的部门 -->
    <action name="AccidentDetail" authtype="1">11</action>
  </controller>
</filter>
