@{
    ViewBag.Title = "未被响应的预警信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="title">@ViewBag.Title</h5>

<table class="bordered depart-verify">
    <thead>
        <tr>
            <th>序号</th>
            <th>预警类型</th>
            <th>预警主题</th>
            <th>预警时间</th>
            <th>落实时限</th>
            <th>落实部门</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="/Scripts/page-scripts/not-implement.js"></script>