@{
    ViewBag.Title = "线路管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="title">@ViewBag.Title</h5>

<div id="searchBox" class="row">
    <div class="col s3 offset-s5">
        <input type="text" placeholder="线路名称" data-condition="[Name] LIKE '%{{value}}%'" />
    </div>
    <div class="col s2">
        <button id="btnSearch" class="btn waves-effect waves-block waves-light w100p" type="button">查 询</button>
    </div>
    <div class="col s2">
        <a href="/Admin/EditLine" class="btn waves-effect waves-block waves-light w100p">添加线路</a>
    </div>
</div>

<table class="bordered data-table">
    <thead>
        <tr>
            <th>序号</th>
            <th>线路名称</th>
            <th>起始站</th>
            <th>终点站</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="/Scripts/page-scripts/admin-lines.js"></script>