<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/node_modules/materialize-css/dist/css/materialize.min.css"/>
    <link rel="stylesheet" href="/node_modules/datetimepicker/dist/datetimepicker.min.css"/>
    <link href="/Content/loading-animate.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/Content/parsley.css" />

    <link href="/Content/index.css" rel="stylesheet" />
    <link href="/Content/header.css" rel="stylesheet"/>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/node_modules/parsleyjs/dist/parsley.min.js"></script>
    <script src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/node_modules/datetimepicker/dist/datetimepicker.min.js"></script>
    <script src="/Scripts/plugins/DateTimePicker/DateTimePicker.js" ></script>
    <script src="/node_modules/jquery.cookie/jquery.cookie.js"></script>

    <script src="/Scripts/page-scripts/common.js"></script>
</head>
<body>
    <div class="body">
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="javascript:void(0);" class="brand-logo right dropdown-button waves-effect waves-block waves-light" data-activates="dropdown0" id="loginName">姚智禄</a>
                    <ul id="dropdown0" class="dropdown-content">
                        <li><a href="/Home/Logout">退出登录</a></li>
                    </ul>
                    <ul id="nav-mobile" class="hide-on-med-and-down">
                        @*<li class="first-menu">
        <a href="/Home/Index" class="waves-effect waves-block waves-light">首 页</a>
    </li>*@
                        <li class="first-menu">
                            <a class="dropdown-button waves-effect waves-block waves-light" href="javascript:void(0);" data-activates="dropdown1">基础管理</a>
                            <ul id="dropdown1" class="dropdown-content">
                                <li class="second-menu" data-target="#target1" id="techFiles"><a href="javascript:void(0);">技术规章<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="second-menu" data-target="#target2" id="companyFiles"><a href="javascript:void(0);">企业标准<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="second-menu" data-target="#target3" id="methodFiles"><a href="javascript:void(0);">制度措施<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="divider"></li>
                                <li><a href="/Basic/Accidents">典型事故</a></li>
                            </ul>
                        </li>
                        <li class="first-menu">
                            <a class="dropdown-button waves-effect waves-block waves-light" href="javascript:void(0);" data-activates="dropdown2">风险信息</a>
                            <ul id="dropdown2" class="dropdown-content">
                                <li class="second-menu" data-target="#target4" id="saveManage"><a href="javascript:void(0);">安全信息管理中心<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="second-menu" data-target="#target5" id="saveAnalysis"><a href="javascript:void(0);">安全信息分析中心<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="second-menu" data-target="#target6" id="locoQuality"><a href="javascript:void(0);">机车质量跟踪系统填报<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                            </ul>
                        </li>
                        <li class="first-menu">
                            <a href="javascript:void(0);" class="dropdown-button waves-effect waves-block waves-light" data-activates="dropdown5">研判预警</a>
                            <ul id="dropdown5" class="dropdown-content">
                                <li class="second-menu" data-target="#target12" id="checkWarn"><a href="javascript:void(0);">监督检查预警<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="second-menu" data-target="#target9" id="analysisWarn"><a href="javascript:void(0);">数据分析预警<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="second-menu"><a href="/Analysis/Action">职工行为预警</a></li>
                                <li class="second-menu" data-target="#target10" id="behaviorWarn"><a href="javascript:void(0);">预警信息管理<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="second-menu" data-target="#target11" id="qualityTrack"><a href="javascript:void(0);">机车质量跟踪<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                            </ul>
                        </li>
                        <li class="first-menu">
                            <a href="javascript:void(0);" class="dropdown-button waves-effect waves-block waves-light" data-activates="dropdown4">过程控制</a>
                            <ul id="dropdown4" class="dropdown-content">
                                <li class="second-menu" data-target="#target7" id="riskVerify"><a href="javascript:void(0);">风险审核<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li><a href="/Warn/PreImplement">预警响应</a></li>
                                <li class="second-menu" data-target="#target8" id="trackAnalysis"><a href="javascript:void(0);">追踪分析<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="second-menu" data-target="#target14" id="riskDeal"><a href="javascript:void(0);">处置落实<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                            </ul>
                        </li>
                        <li class="first-menu">
                            <a href="javascript:void(0);" class="dropdown-button waves-effect waves-block waves-light" data-activates="dropdown6">应急管理</a>
                            <ul id="dropdown6" class="dropdown-content">
                                <li class="second-menu" data-target="#target15" id="exception"><a href="/Article/List/2" class="waves-effect waves-block waves-light">非正常情况处理<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="second-menu" data-target="#target16" id="suddenly"><a href="/Article/List/3" class="waves-effect waves-block waves-light">应急管理<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li class="second-menu" data-target="#target17" id="sudManager"><a href="/Article/List/4" class="waves-effect waves-block waves-light">应急预案<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                            </ul>
                        </li>
                        <li class="first-menu">
                            <a href="javascript:void(0);" class="dropdown-button waves-effect waves-block waves-light" data-activates="dropdown7">评价体系</a>
                            <ul id="dropdown7" class="dropdown-content">
                                <li><a href="/Risk/StaffScore">干部履责评价</a></li>
                                <li><a href="/Analysis/SafeTrend">安全发展趋势</a></li>
                                <li><a href="/Exam/Score">成绩管理</a></li>
                            </ul>
                        </li>
                        <li class="first-menu">
                            <a class="dropdown-button waves-effect waves-block waves-light" href="javascript:void(0);" data-activates="dropdown3">后台管理</a>
                            <ul id="dropdown3" class="dropdown-content">
                                <li><a href="/Basic/AddFile">基础文件上传</a></li>
                                <li><a href="/Basic/AddAccident">添加典型事故</a></li>
                                <li><a href="/Article/Add">添加应急管理</a></li>
                                <li><a href="/Exam/Upload">上传考试成绩</a></li>
                                <li class="second-menu" data-target="#target13" id="adminStaff"><a href="javascript:void(0);">人员管理<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
                                <li><a href="/Admin/RiskSummary">风险概述管理</a></li>
                                <li><a href="/Admin/Dictionaries">字典维护</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul id="target1" data-source="#techFiles" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Basic/Files/1/1">总公司</a></li>
                    <li class="third-menu-item"><a href="/Basic/Files/1/2">铁路局</a></li>
                    <li class="third-menu-item"><a href="/Basic/Files/1/3">机务段</a></li>
                </ul>
                <ul id="target2" data-source="#companyFiles" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Basic/Files/2/1">总公司</a></li>
                    <li class="third-menu-item"><a href="/Basic/Files/2/2">铁路局</a></li>
                    <li class="third-menu-item"><a href="/Basic/Files/2/3">机务段</a></li>
                </ul>
                <ul id="target3" data-source="#methodFiles" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Basic/Files/3/1">总公司</a></li>
                    <li class="third-menu-item"><a href="/Basic/Files/3/2">铁路局</a></li>
                    <li class="third-menu-item"><a href="/Basic/Files/3/3">机务段</a></li>
                </ul>
                <ul id="target4" data-source="#saveManage" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Risk/AddRisk/3">110信息中心获知风险</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/4">局安全风险管控系统确定风险</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/5">上级单位通报风险</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/6">段领导检查发现问题</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/7">管理人员检查发现风险</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/8">技术人员检查发现风险</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/9">专题研究督办确定风险</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/10">合理化建议确定风险</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/11">段内结合部风险</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/12">段外结合部风险</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/13">需上级部门解决风险</a></li>
                </ul>
                <ul id="target5" data-source="#saveAnalysis" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Risk/AddRisk/14">LKJ分析</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/15">视频分析</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/16">录音笔分析</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/17">专调STP分析</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/18">动车EOAS分析</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/19">ATP分析</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/20">状态预警装置分析</a></li>
                    <li class="third-menu-item"><a href="/Risk/AddRisk/21">其他装备分析</a></li>
                </ul>
                <ul id="target6" data-source="#locoQuality" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Live/AddLive6">机统6活项填写</a></li>
                    <li class="third-menu-item"><a href="/Live/AddLive28">机统28活项填写</a></li>
                </ul>
                <ul id="target7" data-source="#riskVerify" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Risk/DepartVerify">本部门风险审核</a></li>
                    <li class="third-menu-item"><a href="/Risk/FinalVerify">风险办风险审核</a></li>
                </ul>
                <ul id="target8" data-source="#trackAnalysis" class="dropdown-content third-menu">
                    @*<li class="third-menu-item"><a href="/Risk/DepartVerify">重点甄别</a></li>*@
                    <li class="third-menu-item"><a href="/Trace/List">信息追踪</a></li>
                    <li class="third-menu-item"><a href="/Trace/Query">追踪统计</a></li>
                </ul>
                <ul id="target9" data-source="#analysisWarn" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Analysis/Source">来源分析</a></li>
                    <li class="third-menu-item"><a href="/Analysis/Distribute">分布分析</a></li>
                    <li class="third-menu-item"><a href="/Analysis/Area">地域分析</a></li>
                    <li class="third-menu-item"><a href="/Analysis/Weather">天气情况分析</a></li>
                    <li class="third-menu-item"><a href="/Analysis/TimeSection">时间段分析</a></li>
                    <li class="third-menu-item"><a href="/Analysis/Constitute">构成分析</a></li>
                    <li class="third-menu-item"><a href="/Analysis/Stage">阶段分析</a></li>
                    <li class="third-menu-item"><a href="/Risk/QueryAll">综合分析</a></li>
                </ul>
                <ul id="target10" data-source="#behaviorWarn" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Warn/VerifyImplement">预警响应审核</a></li>
                    <li class="third-menu-item"><a href="/Warn/Finished">预警信息查询</a></li>
                    <li class="third-menu-item"><a href="/Analysis/Warn">预警信息统计</a></li>
                </ul>
                <ul id="target11" data-source="#qualityTrack" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Risk/DepartVerify">数据填报统计</a></li>
                    <li class="third-menu-item"><a href="/Analysis/Live6">JT6分析</a></li>
                    <li class="third-menu-item"><a href="/Live/Live6">JT6查询</a></li>
                    <li class="third-menu-item"><a href="/Analysis/Live28">JT28分析</a></li>
                    <li class="third-menu-item"><a href="/Live/Live28">JT28查询</a></li>
                    @*<li class="third-menu-item"><a href="/Risk/DepartVerify">综合查询</a></li>*@
                </ul>
                <ul id="target12" data-source="#checkWarn" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Warn/AddWarn">添加预警信息</a></li>
                    <li class="third-menu-item"><a href="/Warn/NotImplement">未被响应预警信息</a></li>
                </ul>
                <ul class="dropdown-content third-menu" id="target13" data-source="#adminStaff">
                    <li class="third-menu-item"><a href="/Admin/StaffList" class="waves-effect waves-light waves-block">员工列表</a></li>
                    <li class="third-menu-item"><a href="/Admin/EditStaff" class="waves-effect waves-light waves-block">添加员工</a></li>
                </ul>
                <ul class="dropdown-content third-menu" id="target14" data-source="#riskDeal">
                    <li class="third-menu-item"><a href="/Risk/Reform" class="waves-effect waves-light waves-block">整改处置</a></li>
                    <li class="third-menu-item"><a href="/Risk/Fix" class="waves-effect waves-light waves-block">落实销号</a></li>
                    <li class="third-menu-item"><a href="#" class="waves-effect waves-light waves-block">销号审核</a></li>
                    <li class="third-menu-item"><a href="#" class="waves-effect waves-light waves-block">问题统计</a></li>
                </ul>
                <ul id="target15" data-source="#exception" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Article/List/2/1">总公司</a></li>
                    <li class="third-menu-item"><a href="/Article/List/2/2">铁路局</a></li>
                    <li class="third-menu-item"><a href="/Article/List/2/3">机务段</a></li>
                </ul>
                <ul id="target16" data-source="#suddenly" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Article/List/3/1">总公司</a></li>
                    <li class="third-menu-item"><a href="/Article/List/3/2">铁路局</a></li>
                    <li class="third-menu-item"><a href="/Article/List/3/3">机务段</a></li>
                </ul>
                <ul id="target17" data-source="#sudManager" class="dropdown-content third-menu">
                    <li class="third-menu-item"><a href="/Article/List/4/1">总公司</a></li>
                    <li class="third-menu-item"><a href="/Article/List/4/2">铁路局</a></li>
                    <li class="third-menu-item"><a href="/Article/List/4/3">机务段</a></li>
                </ul>
            </nav>
        </div>

        <div id="content">
            @RenderBody()
        </div>
    </div>

    <script>
        $(function () {
            // 关闭加载动画
            $('#loader-wrapper').parent().addClass('loaded');

            // 菜单选中
            var menuIndex = localStorage.getItem('menuIndex');
            $('.first-menu').eq(menuIndex).addClass('active');

            // 菜单选中状态
            $('nav a').on('click', function() {
                var href = $(this).prop('href');
                if (href.indexOf('/') >= 0) {
                    var $first = $(this).parents('.first-menu');
                    if ($first.length === 0) {
                        var sourceId = $(this).parents('.third-menu').data('source');
                        $first = $(sourceId).parents('.first-menu');
                    }

                    localStorage.setItem('menuIndex', $first.index());
                }
            });

            // 初始化material_select
            $('select').not('.disabled').material_select();

            // 登录人姓名
            $('#loginName').text($.cookie('name'));
        });

        var initDropdown = function () {
            $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: false, // Does not change width of dropdown to that of the activator
                hover: true, // Activate on hover
                gutter: 0, // Spacing from edge
                belowOrigin: true // Displays dropdown below the button
            });
        };
        initDropdown();

        $('.second-menu').on('mouseenter', function () {
            var $target = $($(this).data('target'));
            var top = common.computeOffsetTop(this);
            var left = common.computeOffsetLeft(this) + this.clientWidth;
            $target.css({ top: top, left: left, display: 'block' }).animate({ 'opacity': 1 }, 223);

            $(this).addClass('active');
        }).on('mouseleave', function (e) {
            var $target = $($(this).data('target'));
            var minY = parseInt($target.css('top'));
            var minX = parseInt($target.css('left'));
            var maxY = minY + $target[0].clientHeight;
            var maxX = minX + $target[0].clientWidth;

            if (e.clientX >= minX && e.clientX <= maxX && e.clientY >= minY && e.clientY <= maxY) {
                return false;
            } else {
                $target.hide();
                $(this).removeClass('active');
            }
        });

        $('.third-menu').on('mouseleave', function () {
            $(this).hide();
            $('.second-menu').parent().css({ 'display': 'none' });

            initDropdown();
        });
    </script>
</body>
</html>
