<h5 class="center">{{title}}</h5>
<table class="responsive-table">
    <thead>
        <tr>
            <th>序号</th>
            <th>文件名称</th>
            <th>文件编号</th>
            <th>发文日期</th>
            <th>下载</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of files">
            <td>{{file.Id}}</td>
            <td>{{file.FileName}}</td>
            <td>{{file.FileNumber}}</td>
            <td>{{file.AddTime}}</td>
            <td><button class="btn waves-effect waves-light"><i class="mdi-editor-vertical-align-bottom"></i></button></td>
        </tr>
    </tbody>
</table>