@{
    ViewBag.Title = "JT6分析";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #btnSearch {
        width: 100%;
        margin-top: 9px;
    }

    section {
        margin-bottom: 50px;
    }
</style>

<h5 class="title">机车质量跟踪系统-JT6分析</h5>

<div id="searchBox" class="row">
    <div class="col s2">
        <div class="select-wrapper">
            <select class="initialized" id="searchYear"></select>
        </div>
    </div>
    <div class="col s2">
        <div class="select-wrapper">
            <select class="initialized" id="searchMonth">
                <option value="-1">月份</option>
            </select>
        </div>
    </div>
    <div class="col s2">
        <button class="btn waves-effect waves-light waves-block" id="btnSearch">查 询</button>
    </div>
</div>

<section>
    <header class="center flow-text">电力机车</header>
    <table class="bordered">
        <thead>
        <tr>
            <th>车型</th>
            <th>高压电器</th>
            <th>低压电器及电线路</th>
            <th>电机</th>
            <th>电子线路</th>
            <th>制动系统</th>
            <th>走行部</th>
            <th>安全装备</th>
            <th>车体及其他</th>
            <th>柴油机</th>
            <th>辅助传动</th>
        </tr>
        </thead>
        <tbody id="dList"></tbody>
    </table>
</section>

<section>
    <header class="center flow-text">内燃机车</header>
    <table class="bordered">
        <thead>
            <tr>
                <th>车型</th>
                <th>高压电器</th>
                <th>低压电器及电线路</th>
                <th>电机</th>
                <th>电子线路</th>
                <th>制动系统</th>
                <th>走行部</th>
                <th>安全装备</th>
                <th>车体及其他</th>
                <th>柴油机</th>
                <th>辅助传动</th>
            </tr>
        </thead>
        <tbody id="nList">   
        </tbody>
    </table>
</section>

<script src="/Scripts/page-scripts/analysis-live.js"></script>