@{
    ViewBag.Title = "来源分析";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="title">@ViewBag.Title</h5>

<div id="searchBox" class="row">
    <div class="col s2 input-field">
        <div class="select-wrapper">
            <select class="initialized" id="searchType">
                <option value="1">提报平台</option>
                <option value="2">提报部门</option>
            </select>
        </div>
    </div>
    <div class="col s2 input-field">
        <input type="date" value="@DateTime.Now.AddDays(-30).ToString("dd-MM-yyyy")" id="searchStart" />
    </div>
    <div class="col s2 input-field">
        <input type="date" value="@DateTime.Now.ToString("dd-MM-yyyy")" id="searchEnd"/>
    </div>
    <div class="col s2 input-field">
        <button id="btnSearchResult" class="btn waves-effect waves-light" type="button">查 询</button>
    </div>
</div>

<table class="bordered depart-verify">
    <thead>
    <tr>
        <th>提报平台</th>
        <th>红线</th>
        <th>甲Ⅰ</th>
        <th>甲Ⅱ</th>
        <th>乙</th>
        <th>丙</th>
        <th>信息</th>
        <th>合计</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="dtBox"></div>

<script src="/Scripts/page-scripts/analysis-source.js"></script>