@{
    ViewBag.Title = "安全风险问题阶段分析";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="title">@ViewBag.Title</h5>

<table class="bordered data-table">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="/Scripts/page-scripts/analysis-stage.js"></script>