@{
    ViewBag.Title = "预警信息统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="title">@ViewBag.Title</h5>

<div id="searchBox">

</div>

<table class="bordered">
    <thead>
        <tr></tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr></tr>
    </tbody>
</table>