<h5 class="center">{{title}}</h5>
<!--<button class="btn waves-effect waves-light" (click)="update()">更新</button>-->
<table class="responsive-table">
    <thead>
        <tr>
            <th>序号</th>
            <th>文件名称</th>
            <th>文件编号</th>
            <th>发文日期</th>
            <th>下载</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of files">
            <td>{{file.Id}}</td>
            <td>{{file.FileName}}</td>
            <td>{{file.FileNumber}}</td>
            <td>{{file.AddTime}}</td>
            <td><button class="btn waves-effect waves-light"><i class="mdi-editor-vertical-align-bottom"></i></button></td>
        </tr>

        <!--<tr *ngIf="!isLoading" *ngFor="let file of files">
            <td>{{file.Id}}</td>
            <td>{{file.FileName}}</td>
            <td>{{file.FileNumber}}</td>
            <td>{{file.AddTime}}</td>
            <td><button class="btn waves-effect waves-light"><i class="mdi-editor-vertical-align-bottom"></i></button></td>
        </tr>-->
    </tbody>
</table>

<button *ngIf="!isLoading" class="btn waves-effect waves-light" style="width:100%;" (click)="loadData()">点击加载</button>

<!--<material-spinner></material-spinner>-->